
* {
    margin: 0;
    padding: 0;
    outline: none;
    @include box-sizing(border-box);
    @include font-smoothing(antialiased);
}

@include selection($color-bg, $color-main);

body {
    width: 100vw;
    background: $color-bg;
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
    color: $color-txt;
    line-height: 1.5;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $gray-dark;
    @include transition(all 250ms linear);

    &:hover {
        color: $gray-darker;
    }
}

main {
    height: 97vh;
    overflow: hidden;
    padding-top: 3rem;
    @extend .row;
    @extend .middle-xs;

    // values
    .values {
        position: relative;

        // From
        .from {
            text-align: right;

            .input-group {
                z-index: 2;
            }
        }

        // To
        .to {
            text-align: right;

            .input-group {
                z-index: 2;
            }
        }

        // Change
        .change {
            text-align: center;
        }

        // Info
        .info {

            p {
                font-size: .8rem;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                color: $gray-dark;
                margin: 2rem auto 1rem;
            }
        }
    }
}

.container-fluid {
    overflow-x: hidden;
}

// Breakpoints
@include breakpoints-sm {}

@include breakpoints-md {

    main {

        .values {

            // From
            .from {
                text-align: right;

                .input-group {

                    button {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: reverse;
                        -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
                        float: right;

                        span {
                            margin: 0 .75rem 0 0;
                        }
                    }
                }
            }

            // To
            .to {
                text-align: left;
            }

            // Change
            .change {
                position: absolute;
                right: 0;
                left: 0;
                top: 6.5rem;
            }
        }
    }
}