
body.page {
    background: $color-main;
    color: $color-bg;

    header {
        position: relative;

        h1 {
            color: $color-bg;
            @include transition(all 250ms ease);

            a {
                color: $color-bg;
            }

            &:hover {
                @include transform( scale(1.1) );
            }
        }
    }

    main {
        height: auto;
        overflow: visible;
        padding-top: 0;

        h1, h2, h3,
        h4, h5, h6 {
            margin-top: 2rem;

            &:first-child {
                margin-top: .5rem;
            }
        }

        p {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        nav {
            font-size: 2rem;
            font-weight: 200;

            background: darken($green, 10%);
            margin-top: 2rem;
            margin-bottom: -2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            ul {
                list-style: none;
                margin: .5rem 0;

                li {

                    a {
                        width: 100%;
                        color: $color-bg;
                        display: block;
                        margin: .5rem 0;

                        &:hover {
                            margin-left: 1rem;
                        }
                    }

                    &.current-page {
                        font-weight: 700;
                        pointer-events: none;

                        a:after {
                            content: ".";
                        }
                    }
                }
            }
        }
    }

    @include breakpoints-sm {

        main {

            nav {
                background: none;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;

                ul {
                    margin-top: -.5rem;
                }
            }
        }
    }
}
