
$green:             #00C752;

$gray-darker:       #4A4A4A;
$gray-dark:         #9B9B9B;
$gray:              #CCCCCC;
$gray-light:        #F2F2F2;

$white:             white;
$black:             black;

//----

$color-bg:          $white;
$color-txt:         $gray-darker;
$color-main:        $green;
