
// flexbox grid
$grid-columns: 4;
$gutter-width: 7rem;
$outer-margin: 2rem;

// quotaticons
$ic-quotation:      "\e907";
$ic-favicon:        "\e900";
$ic-arrow-down:     "\e901";
$ic-arrow-left:     "\e902";
$ic-arrow-right:    "\e903";
$ic-arrow-up:       "\e904";
$ic-close:          "\e905";
$ic-update:         "\e906";