
.input {

    &-group {
        position: relative;
        overflow: hidden;

        label {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;

            display: none;
        }

        input {
            width: 100%;
            background: none;
            border: none;
            font-family: 'Catamaran', sans-serif;
            font-size: 2rem;
            font-weight: 800;
            color: $color-txt;
            text-align: inherit;
            line-height: 1.65;
            border-bottom: 1px solid $gray;
            @include transition(all 250ms ease);

            padding-left: 4.5rem;

            @include placeholder() {}

            &:focus {
                outline: none;
                border-color: $color-main;
            }
        }

        button {
            width: auto;
            height: 2rem;
            background: $gray-light;
            color: $color-txt;
            border: none;
            display: inline-block;
            cursor: pointer;
            @include border-radius(1rem);
            @include display-flex();
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            @include transition(all 250ms ease);

            position: absolute;
            top: 0;
            left: 0;

            margin-top: .5rem;

            &:hover {
                background: $gray;
            }

            img {
                width: 2rem;
                height: 2rem;
            }

            span {
                font-family: 'Catamaran', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 0 0 .75rem;

                display: none;
            }

            &:after {
                width: 2rem;
                height: 2rem;
                @extend .quotaticons;
                content: $ic-arrow-down;
                font-size: 2rem;
            }
        }

        div.currencies {
            margin: .25rem 0;

            display: none;

            section {
                width: 100%;
                font-size: 1rem;
                line-height: 2rem;
                vertical-align: middle;
                display: inline-block;
                margin: .25rem 0;
                @include border-radius(1rem);

                &:hover {
                    background: $gray-light;
                }

                &:before {
                    content: "";
                    width: 2rem;
                    height: 2rem;
                    background: $gray;
                    display: inline-block;
                    float: left;
                    @include border-radius(1rem);
                }

                abbr {
                    font-weight: 800;
                    text-transform: uppercase;
                    display: inline-block;
                    margin-left: .75rem;
                    margin-right: .25rem;
                }

                p {
                    display: inline-block;
                }

                &.selected {}
            }
        }
    }

    @include breakpoints-sm {}

    @include breakpoints-md {

        &-group {

            label {
                font-size: 2rem;

                display: block;
            }

            input {
                font-size: 4.5rem;
                padding-left: 0;
                border-width: 2px;
            }

            button {
                height: 3rem;
                @include border-radius(1.5rem);

                position: relative;
                margin-top: 2rem;

                img {
                    width: 3rem;
                    height: 3rem;
                }

                span {
                    font-size: 1.5rem;

                    display: inline-block;
                }

                &:after {
                    width: 3rem;
                    height: 3rem;
                    font-size: 3rem;
                }
            }
        }
    }
}
